#description{
    height: 100vh;
    background-color: #9763FD;
    display: flex;
}

#description .layout {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#description .layout div{
width: 40%;
}

#description .layout div h1{
    font-size: 5vw;
}

#description .layout div p{
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    font-size: 1.2vw;

}