#home {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
}

#home .layout{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
}

#home .layout div{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 40%;

    

}

#home .layout div h1{
    color: white;
    font-size: 3.9vw;
    margin-bottom: 40px;
    line-height: 1;
}

#home .layout div p{
    color: white;
    font-size: 1vw;
}

#home .layout div button{
    margin-top: 60px;
    background-color: #9763FD;
    width: 25%;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    font-size: 1vw;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#home .layout div button:active{
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#home .layout div img{
    width: 80%;
}


